body {
  background: url(../images/signin.png);
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-signin {
    width: 455px;
    height: 340px;
    margin: 120px auto;
}
.main-signin .main-signin__head {
    background: rgba(31,30,35,0.98);
    border-bottom: 1px solid #2d2f32;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 1px 0px #000;
    padding: 12px 0;
}
.main-signin .main-signin__head h3 {
    color: #E7E7E7;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Goldman', cursive;
}
.main-signin .main-signin__middle {
    background: rgba(36,35,40,0.80);
    border-bottom: 1px solid #2d2f32;
    border-top: 1px solid #2d2f32;
}
.main-signin .main-signin__middle .middle__form {
    margin: 20px 0 20px 0;
}
.main-signin .main-signin__middle .middle__form ::-webkit-input-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-moz-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form ::-moz-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-ms-input-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form input[type="email"],
.main-signin .main-signin__middle .middle__form input[type="password"],
.main-signin .main-signin__middle .middle__form input[type="submit"] {
    text-align: center;
    background: rgba(250,250,250,0.80);
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: black;
    display: block;
    margin: 0 10px;
    outline: none;
    padding: 15px 0;
    width: 95%;
}
.main-signin .main-signin__middle .middle__form input[type="password"] {
    margin-top: 15px;
}
.main-signin .main-signin__middle .middle__form input[type="submit"] {
    background: #00aeef;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    cursor:pointer;
}
.main-signin .main-signin__middle .middle__form input[type="submit"]:active {
    background: #80d6f7;
}
.main-signin .main-signin__foot {
    background: rgba(31,30,35,0.98);
    border-top: 1px solid #2d2f32;
    border-radius: 0 0 10px 10px;
    float: left;
    padding: 12px 0;
    width: 100%;
}
.main-signin .main-signin__foot .foot__left {
    float: left;
    padding: 5px 0 0 1.7em;
    width: 50%;
}
.main-signin .main-signin__foot .foot__left label{
    color: #ffffff;
    font-weight: normal;
}
.main-signin .main-signin__foot .foot__right {
    float: left;
    text-align: right;
    padding: 7px 1.7em 0 0;
    width: 50%;
}
.main-signin .main-signin__foot .foot__right a{
    color: #ffffff;
    font-weight: normal;
}